*{
    margin: 0px;

    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

body{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    background-color: rgba(233, 233, 233, 0.721);


}


.header{
    color: white;
    margin-top: 0px;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.header h1{
    font-size: larger;
    margin-left: 2vw;
}

.footer{
    color: rgba(253, 253, 253, 0.684);
    position: fixed;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   display: flex;
  align-items: center; 
  justify-content: center;
  font-size: large;
  font-weight: 600;
}

